<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Node</title>
</head>



<body style="background-color:rgba(128, 128, 128, 0.21)">

    <div class="container">

        <div class="panel panel-default" style="margin-top:40px;padding:25px">
          
            <h2><%= data.title %></h2>
            <h5>作者( <%= data.user %>)</h5>

            <p>
               <%= data.content %>
            </p>

        </div>
                
   </div>



</body>
</html>



